<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 启动@Aspectj支持 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<context:annotation-config/>
	<context:component-scan base-package="com.lqg"/>	
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- 定义Hibernate模板对象 -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--邮件服务器-->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">	
		<property name="protocol" value="smtp"/>	
		<property name="host" value="smtp.gmail.com"/>	
		<property name="port" value="465" /><!--Gmail的SMTP端口居然是这个，去google网站上了解吧-->	
		<property name="username" value="liqiuguo10@gmail.com"/>	
		<property name="password" value="sp2571mk397"/>	
		<property name="javaMailProperties">
			<props>	
				<prop key="mail.smtp.auth">true</prop>	
				<prop key="mail.smtp.starttls.enable">true</prop>	
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
	                        <!--gmail要求的ssl连接-->
			</props>	
		</property>	
	</bean>	
		<!-- 自定义的发送邮件的类 -->
	<bean id="emailUtil" class="com.lqg.util.EmailUtil"></bean>	 
	<!--异步线程执行器
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">	
		<property name="corePoolSize" value="10"/>	
		<property name="maxPoolSize" value="30"/>	
	</bean>-->	

	<!-- MemcachedCache缓存 
    <bean id="MemcachedCache" class="com.lqg.memcache.MemCachedTool"></bean> -->
    <!-- aop切面
    <bean id="happy" class="com.lqg.aop.AdminInterceptor"></bean>  -->
</beans>
