<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<!-- 数据库方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 数据库驱动 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 数据库连接信息 -->
		<property name="hibernate.connection.url">jdbc:mysql://rdszbrvzniamyvz.mysql.rds.aliyuncs.com:3306/r3435nvk9i7279bf</property>
		<property name="hibernate.connection.username">r3435nvk9i7279bf</property>
		<property name="hibernate.connection.password"> sp2571mk397</property>
		<!-- 打印SQL语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 不格式化SQL语句 -->
		<property name="hibernate.format_sql">false</property>
		<!-- 为Session指定一个自定义策略 -->
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- C3P0 JDBC连接池 -->
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.validate">true</property>		
		<!-- 映射文件 -->
		<mapping resource="com/lqg/model/user/Admin.hbm.xml"/>
		<mapping resource="com/lqg/model/user/Parent.hbm.xml"/>
		<mapping resource="com/lqg/model/user/Teacher.hbm.xml"/>
		<mapping resource="com/lqg/model/user/Student.hbm.xml"/>
		<mapping resource="com/lqg/model/user/Room.hbm.xml"/>
				
		<mapping resource="com/lqg/model/product/Book.hbm.xml"/>
		<mapping resource="com/lqg/model/product/BookItem.hbm.xml"/>		
		<mapping resource="com/lqg/model/product/Course.hbm.xml"/>		
		<mapping resource="com/lqg/model/product/Video.hbm.xml"/>
		<mapping resource="com/lqg/model/product/UploadFile.hbm.xml"/>
		
		<mapping resource="com/lqg/model/profile/Answer.hbm.xml"/>
		<mapping resource="com/lqg/model/profile/Collection.hbm.xml"/>
		<mapping resource="com/lqg/model/profile/Focus.hbm.xml"/>
		<mapping resource="com/lqg/model/profile/Question.hbm.xml"/>
		<mapping resource="com/lqg/model/profile/Route.hbm.xml"/>
		<mapping resource="com/lqg/model/profile/Comment.hbm.xml"/>
		<mapping resource="com/lqg/model/profile/Thank.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
